*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/mainbg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    opacity: 70%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.text{
    width: 90%;
    padding 12px
    color: #fff;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-47%, -40%);
    text-align: center;
}
.text h1{
    font-size: 100px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.text0 h1{
    width: 50%;
    background: -webkit-linear-gradient(#FFFFFF,#FF0000, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:absolute;
    top:auto;
    left: 20%;
    transform: translate(-50%, -10%);
    text-align: center;
    font-size: 100px;
    background-blend-mode: overlay;
    
}

.text1{
    width: 40%;
    color: #FFFFFF;
    position:absolute;
    top: 40%;
    left: 13%;
    bottom: 20%;
    transform: translate(-22%, 30%);
    text-align: justify;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    padding: 10px 10px;
    line-height: 50px;
}

.gray a{
    opacity: .1;
    mix-blend-mode:luminosity;
    position: absolute;
    transform: translate(-60%, -10%);
}
.gray1 a{
    opacity: .1;
    mix-blend-mode:luminosity;
    position: absolute;
    transform: translate(200%, 90%);
}
.gray2 a{
    opacity: .1;
    mix-blend-mode:luminosity;
    position: absolute;
    transform: translate(117%, -120%);
}

.profile{

    top: 50px;
    left: 50px;
    transform: translate(50%, 0%);
    opacity: 100%;
}





.text a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 18px;
    border-radius: 3px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}
.text a:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.contactme a{
    position: absolute;
    left: auto;
    right: auto;
    transform: translate(280%, 1590%);
}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    left: 80px;
    border-radius: 15px;
    
}
.hero-btn1:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}


.cp{
    text-align: center;
    position: absolute;
    bottom: -210px;
    left: 890px;
    padding-top: 100px;
    transform: translate(10px, -30px);
    color: aliceblue;
}

.button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;

}
.wrapper{
    position: absolute;
    top: 1000px;
    left: 750px;
}

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
.wrapper .gmail:hover,
.wrapper .gmail:hover .tooltip,
.wrapper .gmail:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}


.sbg img{
    object-fit:cover;
    position: absolute;
    top: 950px;
    left: 0px;
    min-height: 100px;
    min-width: 2000px;
    height: 175px;
    overflow: hidden;
    opacity: 90%;
}
.sbg1 img{
    object-fit:cover;
    position: absolute;
    top: 950px;
    left: 0px;
    min-height: 100px;
    min-width: 2000px;
    height: 175px;
    overflow: hidden;
    opacity: 50%;
    mix-blend-mode: luminosity;
}

.educontent{
    display: none;
}    
.lowerpart3{
    display: none;
}
.lowerpart2{
    display: none;
}
    .container1{
        display: none;
    }
.logoss{
    display: none;
}






@media(max-width: 700px){
    nav img{
        width: 50px;
        padding-top: 8px;
        }
    .text1{
        font-size: 15px;
        width: 90%;
        line-height: 25px;
        align-items: center;
        transform: translate(-9%, 60%);
    }
    
    .text0 h1{
        font-size: 23px;
        background-size: 40px;
        top: 50px;
        left: 50px;
        transform: translate(25%, 0%);
    }
    .gray a{
        display: none;
    }
    
    .hero-btn{
        bottom: -270px;
    }
    
    .profile img{
    height: 65%;
    width: 65%;
    top: 50px;
    left: 50px;
    transform: translate(-50%, 20%);
    opacity: 100%;
    }
/*
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2; 
    }
    .fa{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    */
    .nav-links{
        display: none;
    }
    
    .text{
        bottom: -230px;
        text-align: center;
        left: 165px;
    }
    .educontent{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/mainbg.jpg);
        width: 10%;
        padding: inherit
    }
    .educontent{
        width: 100%;
        display: block;
        text-align: center;
        font-size: 15px;
        padding: 40px;
        color: white;
        line-height: 25px;
    }
    .ter a{
        color: white;
    }
    .sbg, .sbg1 img{
        display: none;
    }
    .lowerpart2{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(C:/Users/RYZEN/Desktop/Project_website/images/images.jpg);
        width: 100%;
        opacity: 90%;
        
    }
    
    .lowerpart2{
        display: block;
        width: 100%;
        font-size: 15px;
        text-align: center;
        line-height: 25px;
        padding: 40px;
        color: white;
        align-items: center;
    }
    .wpm a{
        color: white;
    }
    .lowerpart3{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(C:/Users/RYZEN/Desktop/Project_website/images/aboutme.jpg);
        width: 100%;
        opacity: 90%;
        
    }
    .lowerpart3{
        display: block;
        text-align: center;
         width: 100%;
        font-size: 15px;
        text-align: center;
        line-height: 20px;
        color: white;
    }
    .lowerpart3 h2{
        font-size: 20px;
    }
        .lowerpart3 p{
        font-size: 15px;
    }
    .row{
        width: 300px;
        margin-left: 30px;
    }
    .row img{
        align-content: center;
        border-radius: 200px;
        padding: 15px;
    }
    .lowerpart3 img{
        border-radius: 200px;
    }
    .contactsection{
        display: block;
    }

    .container1{
        display: block;
    }
    .logoss{
        display: block;
    }
    
        /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.wrapper1{
    position: absolute;
    bottom: -4200px;
    left: 1px;
}

.wrapper1 .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper1 .tooltip1 {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper1 .tooltip1::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper1 .icon:hover .tooltip1 {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper1 .icon:hover span,
.wrapper1 .icon:hover .tooltip1 {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper1 .facebook:hover,
.wrapper1 .facebook:hover .tooltip1,
.wrapper1 .facebook:hover .tooltip1::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper1 .twitter:hover,
.wrapper1 .twitter:hover .tooltip1,
.wrapper1 .twitter:hover .tooltip1::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper1 .instagram:hover,
.wrapper1 .instagram:hover .tooltip1,
.wrapper1 .instagram:hover .tooltip1::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper1 .github:hover,
.wrapper1 .github:hover .tooltip1,
.wrapper1 .github:hover .tooltip1::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper1 .youtube:hover,
.wrapper1 .youtube:hover .tooltip1,
.wrapper1 .youtube:hover .tooltip1::before {
  background-color: #de463b;
  color: #ffffff;
}
.wrapper1 .gmail:hover,
.wrapper1 .gmail:hover .tooltip1,
.wrapper1 .gmail:hover .tooltip1::before {
  background-color: #de463b;
  color: #ffffff;
}


}






































