*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 230vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(C:/Users/RYZEN/Desktop/Project_website/images/5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow:inherit;
    
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    opacity: 70%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.content{
    position: relative;
    width: 600px;
    text-align: justify-all;
    text-justify: inter-word;
    font-size: 30px;
    transform: translate(50px, 120px);
    color: aliceblue;
    line-height: 45px;
    opacity: 90%;
    box-sizing: border-box;    
}

.c-images img{
    opacity: 80%;
}
.cl{
    background-color: #FE8020;
    padding: 10px;
    border-radius: 20px;
        
}

.vp{
    position: absolute;
    transform: translate(200%, 0%);
    text-align: justify;
    background-color: #FE8020;
    color: #FFFFFF;
    display:inline;
    padding: 10px;
    border-radius: 20px;
        
}
.wpm{
    position: absolute;
    transform: translate(0%, 150%);
    text-align: justify;
    background-color: #FE8020;
    color: #FFFFFF;
    display:inline;
    padding: 10px;
    border-radius: 20px;
}
.wpm a{
    color: aliceblue;
}
.pc{
    position: absolute;
    transform: translate(200%, 220%);
    text-align: justify;
    background-color: #FE8020;
    color: #FFFFFF;
    display:inline;
    padding: 10px;
    border-radius: 20px;
}
.dwg{
    position: absolute;
    transform: translate(0%, 340%);
    text-align: justify;
    background-color: #FE8020;
    color: #FFFFFF;
    display:inline;
    padding: 10px;
    border-radius: 20px;
}
.pb{
    position: absolute;
    transform: translate(200%, 470%);
    text-align: justify;
    background-color: #FE8020;
    color: #FFFFFF;
    display:inline;
    padding: 10px;
    border-radius: 20px;
}

.image1 img{
    position: absolute;
    transform: translate(200%, -80%);
    height: 250px;
    width: 340px;
    mix-blend-mode: overlay;
    border-radius: 20px;
    box-sizing: border-box;

}
.image2 img{
    position: absolute;
    transform: translate(300%, 67%);
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-sizing: border-box;
}
.image3 img{
    position: absolute;
    transform: translate(200%, 475%);
    height: 100px;
    width: 340px;
    border-radius: 20px;
    box-sizing: border-box;
}
.image4 img{
    position: absolute;
    transform: translate(300%, 340%);
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-sizing: border-box;
}
.image5 img{
    position: absolute;
    transform: translate(200%, 440%);
    height: 220px;
    width: 340px;
    border-radius: 20px;
    box-sizing: border-box;
}
.image6 img{
    position: absolute;
    transform: translate(260%, 510%);
    height: 250px;
    width: 340px;
    border-radius: 20px;
    box-sizing: border-box;
}




.topic h1{
    width: 40%;
    color: #FFFFFF;
    position:absolute;
    top: 38%;
    left: 13%;
    bottom: 20%;
    transform: translate(-10%, -70%);
    text-align: justify;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    padding: 10px 10px;
    line-height: 50px;
    text-shadow: 10%;
}



nav .fa{
    display: none;
}







@media(max-width: 700px){
    nav img{
        width: 50px;
        padding-top: 8px;
        }
    
    .text1{
        font-size: 15px;
        width: 90%;
        line-height: 25px;
        align-items: center;
        transform: translate(-9%, 50%);
    }
    
    .text0 h1{
        font-size: 23px;
        background-size: 40px;
        top: 50px;
        left: 50px;
        transform: translate(25%, 0%);
    }
    .gray a{
        display: none;
    }
    
    .hero-btn{
        bottom: -270px;
    }
    
    .profile img{
    height: 65%;
    width: 65%;
    top: 50px;
    left: 50px;
    transform: translate(-50%, 20%);
    opacity: 100%;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2; 
        
    nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    } */

    
    
    

}






































